.skills-content{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-data{
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 150px; 
  margin: 0.5rem; 
}

.skills-data img{
  width: 50px;
  height: 50px; 
}

.skills-name{
  font-size: 18px; 
  font-weight: 400;
  margin-bottom: 5px; 
  text-align: center; 
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  color: antiquewhite;
}

.skills-level{
  font-size: 15px;
}
.skills-data{
  transition: all 0.3s ease-in-out;
}
.skills-data:hover {
  transform: scale(1.1); 
}
@media screen and (max-width: 992px) {
  .skills-container{
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .skills-container{
    grid-template-columns: 1fr;
  }
  .skills-content{
    padding: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  .skills-box{
    column-gap: 1.25rem;  
  }
  .skills-name{
    font-size: var(--small-font-size);
  }
}

.skills-section {
  background-color: #000;
  color: antiquewhite;
  padding: 4rem 1rem;
  box-shadow:0 0 10px rgba(255, 255, 255, 0.1);
  font-family: "Doppio One", sans-serif;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.section-subtitle {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}