body {
   background-color: black;
   text-align: center;
}

h1 {
   color: white;
   font-family: Arial;
}

#myCanvas {
   background-color:rgb(235, 227, 214);
}

button, .file-input-label {
   display: inline-block;
   background-color: white;
   border: none;
   font-size: 15px;
   border-radius: 5px;
   cursor: pointer;
}

input[type="file"] {
   display: none;
}