body.no-scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  color: blueviolet;
  font-size: 30px;
  font-weight: 700;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: -512px;
  width: 512px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  transition: all 1s ease-in-out;
}

.nav-menu.show {
  right: 0; 
}

.nav-data {
  padding: 80px 84px 0 154px;
  margin: auto;
  width: 100%;
}

.nav-list {
  margin-bottom: 40px;
}

.nav-list li {
  margin-bottom: 20px;
}

.nav-link {
  color: white;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.nav-link:hover {
  color: blueviolet;
}

.nav-btns {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.nav-toggle {
  height: 30px;
  width: 28px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.nav-toggle span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blueviolet;
  transition: all 0.3s ease-in-out;
}

.nav-toggle span:first-child {
  top: 8px;
}

.nav-toggle span:last-child {
  bottom: 8px;
}

.nav-toggle.animate-toggle span:first-child {
  transform: rotate(-45deg);
  top: 14px;
}

.nav-toggle.animate-toggle span:last-child {
  transform: rotate(45deg);
  bottom: 14px;
}